<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <h1>Error Message</h1>
  <br>
  <h2><%= did %> has employees and cannot be deleted.</h2>
  <br>
  <div>
    <a href="/">Home</a>
  </div>
</body>
</html>
