<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <a href="/employees">Employees</a><br>
  <a href="/departments">Departments</a><br>
  <a href="/employees-mongodb">Employees (MongoDB)</a><br>
</body>
</html>
