<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>Error Message</h1>
    <br>
    <br>
    <br>
    <h2><%= message %></h2>
    <div>
        <a href="/">Home</a>
    </div>
</body>
</html>
